PORT=8080

MK_BASE_URL=https://sac.newlifefibra.com.br
MK_SYS=MK0
MK_CONTRA_SENHA=
MK_PASSWORD=
MK_CD_SERVICO=9999
MK_TOKEN_TTL=20m

API_KEY=

HTTP_TIMEOUT=15s
REQUEST_TIMEOUT=20s
SHUTDOWN_TIMEOUT=15s
MK_RETRY_ATTEMPTS=2
